.feature
  background: url(../img/index-bg-2.jpg)
  height: 600px
  margin-bottom: 100px
  &-info
    max-width: 358px
    font: 14px $f-TTR
    color: #8e9296
    text-align: justify
    line-height: 24px
    span
      font-family: $f-TTB
  h1
    font: 48px $f-PRF
    color: $color-red
    margin-bottom: 50px
    max-width: 540px
.df
  display: flex
  justify-content: flex-end

.masters
  background: url(../img/index-bg-3.jpg) no-repeat center
  height: 619px
  margin-bottom: 100px
  &-wrapper
    padding: 140px 0
    max-width: 480px

.master-info
  h3
    font: 40px $f-PRF
    color: $color-red
    text-decoration: underline
    margin-bottom: 15px
  span
    font-size: 18px
    margin-bottom: 30px
    display: block

  p
    position: relative
    font: 16px $f-TTI
    color: #878b8f
    line-height: 30px
    margin-bottom: 55px
    z-index: 1
    &::before
      position: absolute
      content: url(../img/quotes.png)
      top: 0
      right: 0

      z-index: -1
@media (max-width: 425px)
  .masters
    background: url(../img/index-bg-3.jpg) no-repeat 60%

    height: 480px
    &-wrapper
      padding: 30px 0
      max-width: 320px
  .master-info
    a
      margin: 0 auto
      display: block
      max-width: 320px
      padding: 20px 40px

.about-lpg
  position: relative
  margin-bottom: 40px
  h3
    text-align: center
    margin-bottom: 40px
  &-image
    background: url(../img/lpg.jpg) no-repeat center
    height: 974px
  &-info
    //display: grid
    //grid-template-columns: repeat(auto-fit,minmax(100px,1fr))
    display: flex
    position: absolute
    max-width: 1140px
    bottom: 75px
    padding-right: 15px
    &-item
      flex-basis: 20%
      border-radius: 5px
      background-color: rgb(255, 255, 255)
      box-shadow: 0px 0px 24px 0px rgba(23, 25, 28, 0.14)
      padding: 65px 65px 25px 25px
      &:nth-child(1)
        z-index: 1
      &:nth-child(2)
        z-index: 2
      &:nth-child(3)
        z-index: 3
      &:nth-child(4)
        z-index: 4
      &:nth-child(5)
        z-index: 5

@media (max-width: 768px)
  .about-lpg
    &-image
      background-size: contain
      background-position-y: 5%
    &-info
      flex-wrap: wrap
      &-item
        flex-grow: 1

@media (max-width: 425px)
  .about-lpg
    h3
      font-size: 27px
      line-height: 25px
    &-image
      height: 680px !important
    &-info
      flex-wrap: wrap !important
      bottom: 0px !important
      &-item
        flex-basis: 100%
        padding: 20px !important

.acc
  h5
    font: 18px $f-TTM
    margin-bottom: 25px

.accordion
  position: relative
  background-color: #ffffff
  font: 16px $f-TTR
  color: $color-text-m-grey
  cursor: pointer
  padding: 18px
  width: 100%
  border: none
  border-top: 1px solid $color-l-blue
  text-align: left
  outline: none
  font-size: 15px
  transition: 0.4s
  &::before
    position: absolute
    content: '>'
    color: $color-red
    left: 0
    top: 10px
    font-size: 24px
  &.active
    border-bottom: 1px solid $color-l-blue
    &::before
      transform: rotate(90deg)
      top: 12px


.b-bottom
  border-bottom: 1px solid $color-l-blue
.active, .accordion:hover 
  background-color: #ffffff


.panel 
  padding: 30px 0
  display: none
  background-color: white
  overflow: hidden
