{% load static %}
<header class="header header-no-bg">
    <div class="container header-nav-wrapper">
        <div class="header-logo">

            <a href="/">  <img src="{% static 'img/logo.png' %}" alt=""></a>
            <p>Студия красоты<br> и здоровья в Челябинске</p>



        </div>
        <nav class="header-nav">
            <ul class="header-nav__nav-wrapper">
                <li><a href="{% url 'index' %}#services">Услуги и цены</a></li>
                <li><a href="{% url 'index' %}#contacts">Контакты</a></li>
                <li><a href="{% url 'index' %}#contacts">Адрес</a></li>
                <li><a href="{% url 'index' %}#masters">Мастера</a></li>

            </ul>
        </nav>

        <div class="header-phone">
            <p>8 800 999 99 99</p>
            <a href="javascript:void(0)" class="btn" onclick="toggleModal('callback-modal')">Перезвоните мне</a>
        </div>
        <div class="mobile-toggle">

        </div>
    </div><!-- // header-nav-wrapper -->

</header>